In [2]:
def sum_python(n):
 s = 0
 for i in range(n):
  s += i
  return s
print(sum_python(1000000))
%timeit sum_python(1000000)

0
196 ns ± 38.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [3]:
%load_ext cython

In [5]:
%%cython
def sum_cython(int n):
    cdef long s = 0
    cdef int i
    for i in range(n):
        s += i
    return s

In [6]:
print(sum_cython(1000000))
%timeit sum_cython(1000000)

499999500000
393 µs ± 10.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
from pandas import Series, DataFrame as df

In [8]:
obj=Series([4,5,-7,3.2,2023,11,27])

In [9]:
obj

0       4.0
1       5.0
2      -7.0
3       3.2
4    2023.0
5      11.0
6      27.0
dtype: float64

In [10]:
obj.values

array([   4. ,    5. ,   -7. ,    3.2, 2023. ,   11. ,   27. ])

In [11]:
obj.index

RangeIndex(start=0, stop=7, step=1)

In [12]:
obj[3]

np.float64(3.2)

In [14]:
obj=Series([4,5,-7,3.2,2023,11,27],index=['a','b','c','e','f','h','d'])

In [16]:
mashina_dict={'Cobalt':30000,'BYD':50000,'Lacetti':40000}

In [17]:
avtosalon=mashina_dict
avtosalon

{'Cobalt': 30000, 'BYD': 50000, 'Lacetti': 40000}

In [18]:
flowers = Series(['rose','tulip','lily','daisy','lotus','sunflower','jasmine','orchid','iris','poppy'])
flowers

0         rose
1        tulip
2         lily
3        daisy
4        lotus
5    sunflower
6      jasmine
7       orchid
8         iris
9        poppy
dtype: object

In [19]:
flowers = Series(['rose','tulip','lily','daisy','lotus','sunflower','jasmine','orchid','iris','poppy'],index=[10,9,8,7,6,5,4,3,2,1])

In [20]:
flowers.index

Index([10, 9, 8, 7, 6, 5, 4, 3, 2, 1], dtype='int64')

In [21]:
flowers.values

array(['rose', 'tulip', 'lily', 'daisy', 'lotus', 'sunflower', 'jasmine',
       'orchid', 'iris', 'poppy'], dtype=object)

In [23]:
flowers[4]

'jasmine'

In [24]:
flowers[4]='lavender'

In [25]:
flowers[4]

'lavender'

In [26]:
flowers[flowers.index>5]

10     rose
9     tulip
8      lily
7     daisy
6     lotus
dtype: object

In [27]:
flowers[flowers.index<5]

4    lavender
3      orchid
2        iris
1       poppy
dtype: object

In [29]:
flowers = {'rose':50,'tulip':10,'lily':30,'daisy':24,'lotus':12,'sunflower':23,'jasmine':55,'orchid':67,'iris':232,'poppy':90}

In [30]:
garden=Series(flowers)

In [31]:
garden

rose          50
tulip         10
lily          30
daisy         24
lotus         12
sunflower     23
jasmine       55
orchid        67
iris         232
poppy         90
dtype: int64

In [32]:
models=['rose','tulip','lily','daisy','lotus','sunflower','jasmine','orchid','iris','poppy','lavender']

In [33]:
garden2=Series(flowers,index=models)

In [34]:
garden2

rose          50.0
tulip         10.0
lily          30.0
daisy         24.0
lotus         12.0
sunflower     23.0
jasmine       55.0
orchid        67.0
iris         232.0
poppy         90.0
lavender       NaN
dtype: float64

In [36]:
garden2.isnull()

rose         False
tulip        False
lily         False
daisy        False
lotus        False
sunflower    False
jasmine      False
orchid       False
iris         False
poppy        False
lavender      True
dtype: bool

In [37]:
garden2.fillna(0)

rose          50.0
tulip         10.0
lily          30.0
daisy         24.0
lotus         12.0
sunflower     23.0
jasmine       55.0
orchid        67.0
iris         232.0
poppy         90.0
lavender       0.0
dtype: float64

In [38]:
garden2.is_unique

True

In [39]:
garden2.dtype

dtype('float64')

In [40]:
garden2.shape

(11,)

In [41]:
garden2.size

11

In [42]:
garden2.iloc[3]

np.float64(24.0)

In [45]:
garden2.mean()

np.float64(59.3)

In [46]:
garden2.max()

232.0

In [47]:
garden2.min()

10.0

In [48]:
import pandas as pd

In [50]:
survey=pd.read_csv("./sample_data/survey_cleaned.csv")

/tmp/ipython-input-3525250207.py:1: DtypeWarning: Columns (45,54,59,72,171) have mixed types. Specify dtype option on import or set low_memory=False.
  survey=pd.read_csv("./sample_data/survey_cleaned.csv")

In [52]:
survey.head()

,ID,ROLE,ROLESPECCL,COUNTRYCL,PHYS,ENGTECH,LIFE,MED,SOCEC,LAW,...,LANG4,LANG5,LANG6,LANG7,LANGOTHCL,LANGSPECCL,DEVELOPCL,OPENACC,OPENSCI,LANGUAGE
0,00052f9acd6118313a3c5ea01a589660,Bachelor/Master student,NaN,Germany,NaN,NaN,NaN,NaN,Social Sciences & Economics,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I don't know,I don't know,English
1,00066d117085a44ef05279abcf759324,Professor / Associate professor / Assistant pr...,NaN,Spain,NaN,NaN,NaN,NaN,Social Sciences & Economics,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,English
2,0008799ec4ee889c276266db7363e69c,Professor / Associate professor / Assistant pr...,NaN,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,English
3,000fb961c55a69635fcb7f8a4041e547,Professor / Associate professor / Assistant pr...,NaN,Brazil,NaN,Engineering & Technology,NaN,NaN,Social Sciences & Economics,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Eletronic paper,I don't know,Yes,English
4,001166b3b364fd5288a83f2b5a6b4674,PhD student,NaN,Norway,Physical Sciences,NaN,NaN,NaN,Social Sciences & Economics,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Researcher profiles,Yes,I don't know,English

In [53]:
survey.tail(n=5)

,ID,ROLE,ROLESPECCL,COUNTRYCL,PHYS,ENGTECH,LIFE,MED,SOCEC,LAW,...,LANG4,LANG5,LANG6,LANG7,LANGOTHCL,LANGSPECCL,DEVELOPCL,OPENACC,OPENSCI,LANGUAGE
20658,fffaf4d05d17ccd5cd5270df5723ad34,Professor / Associate professor / Assistant pr...,NaN,Japan,NaN,NaN,NaN,Medicine,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,SNS,Yes,Yes,Japanese
20659,fffb1abdf9203637b9a57a578c637b03,Postdoc,NaN,United States,NaN,NaN,NaN,Medicine,Social Sciences & Economics,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,More seamless collaboration tools,Yes,Yes,English
20660,fffb5a89afe9bc4ff2b1f23106733025,Professor / Associate professor / Assistant pr...,NaN,Spain,NaN,NaN,NaN,NaN,Social Sciences & Economics,NaN,...,Latindex,NaN,NaN,NaN,NaN,NaN,I dont know,Yes,Yes,Spanish
20661,fffd1dc298d21e01f5bdf68163c50092,Other,"associate lecturer,surgical clinician",United Kingdom,NaN,NaN,NaN,Medicine,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Introduction of charges for the publication of...,Yes,Yes,English
20662,fffd3f44071e9617580b80db478cab92,Bachelor/Master student,NaN,South Africa,NaN,Engineering & Technology,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Create a Staff Training Program where one can ...,Yes,Yes,English

In [54]:
survey.describe()

,ID,ROLE,ROLESPECCL,COUNTRYCL,PHYS,ENGTECH,LIFE,MED,SOCEC,LAW,...,LANG4,LANG5,LANG6,LANG7,LANGOTHCL,LANGSPECCL,DEVELOPCL,OPENACC,OPENSCI,LANGUAGE
count,20663,20663,1525,20608,2644,3838,5246,3879,6465,520,...,880,157,491,245,116,116,12042,19013,19157,20663
unique,20663,8,475,151,1,1,1,1,1,1,...,5,4,5,5,1,93,9566,3,3,7
top,fffd3f44071e9617580b80db478cab92,Professor / Associate professor / Assistant pr...,researcher,United States,Physical Sciences,Engineering & Technology,Life Sciences,Medicine,Social Sciences & Economics,Law,...,Latindex,Red de Repositorios Latinamericanos,VKontakte,Science Index,(and also) others,ProdINRA,Open access,Yes,Yes,English
freq,1,8610,216,3439,2644,3838,5246,3879,6465,520,...,454,79,152,81,116,13,364,16323,15506,17785

In [56]:
survey.shape

(20663, 178)

In [57]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20663 entries, 0 to 20662
Columns: 178 entries, ID to LANGUAGE
dtypes: object(178)
memory usage: 28.1+ MB

In [61]:
survey.describe(exclude=[int])

,ID,ROLE,ROLESPECCL,COUNTRYCL,PHYS,ENGTECH,LIFE,MED,SOCEC,LAW,...,LANG4,LANG5,LANG6,LANG7,LANGOTHCL,LANGSPECCL,DEVELOPCL,OPENACC,OPENSCI,LANGUAGE
count,20663,20663,1525,20608,2644,3838,5246,3879,6465,520,...,880,157,491,245,116,116,12042,19013,19157,20663
unique,20663,8,475,151,1,1,1,1,1,1,...,5,4,5,5,1,93,9566,3,3,7
top,fffd3f44071e9617580b80db478cab92,Professor / Associate professor / Assistant pr...,researcher,United States,Physical Sciences,Engineering & Technology,Life Sciences,Medicine,Social Sciences & Economics,Law,...,Latindex,Red de Repositorios Latinamericanos,VKontakte,Science Index,(and also) others,ProdINRA,Open access,Yes,Yes,English
freq,1,8610,216,3439,2644,3838,5246,3879,6465,520,...,454,79,152,81,116,13,364,16323,15506,17785